<main>
  <section class="section1">
    <form  action="" [formGroup]="buscacepForm" (ngSubmit)="procurarCEP()">
      <mat-form-field appearance="fill">
        <mat-label>CEP</mat-label>
        <input type="text" matInput placeholder="99.999-999" formControlName="cep">
      </mat-form-field>
      <button mat-flat-button color="accent" [disabled]="buscacepForm.invalid">
        <mat-icon>search</mat-icon>
      </button>
    </form>
  </section>
  <section class="section2" *ngIf="endereco != undefined">
    <h3>CEP: {{endereco.cep}}</h3>
    <h3>Logradouro: {{endereco.logradouro}}</h3>
    <h3>Complemento: {{endereco.complemento || 'Não Informado'}}</h3>
    <h3>Bairro: {{endereco.bairro || 'Não Informado'}}</h3>
    <h3>Localidade: {{endereco.localidade || 'Não Informado'}}</h3>
    <h3>UF: {{endereco.uf}}</h3>
    <h3>DDD: {{endereco.ddd || 'Não Informado'}}</h3>
  </section>
  
</main>